@import './_material_color'

.bar
	height 20rem
	display inline-block
	.bar-inner
		width 10rem
	&.happy .bar-inner
		background-color clr-green

	&.sad .bar-inner
		background-color clr-blue-grey

	&.angry .bar-inner
		background-color clr-red

	&.suprised .bar-inner
		background-color clr-yellow
